interface {{ dmvpn_tunnel_interface }}
no shutdown
bandwidth 100000
ip address {{ dmvpn_address.split('/')[0] }} {{ dmvpn_address | ipaddr('netmask') }}
ip mtu 1400
ip tcp adjust-mss 1360
tunnel source {{ public_ip }}
tunnel mode gre multipoint
tunnel vrf INET-PUBLIC
tunnel protection ipsec profile DMVPN-

{% if dmvpn_role == 'hub' %}
ip nhrp map multicast dynamic
{% endif %}

ip nhrp authentication Password
ip nhrp network-id 101
ip nhrp holdtime 600
ip nhrp redirect
no ip next-hop-self {{ site_eigrp_address }}
no ip split-horizon {{ site_eigrp_address }}

interface GigabitEthernet0/0
ip access-group ACL-INET-PUBLIC in


ip nhrp network-id 1
tunnel key 123
ip nhrp map multicast dynamic