
interface {{ interface.name }}
    {% if interface.description is defined %}
    description {{ interface.description }}
    {% endif %}
    {% if 'mls' in group_names %}
    no switchport
    {% endif %}
    ip address {{ interface.ip.split('/')[0] }} {{ interface.ip | ipaddr('netmask') }}
    {# IPv6 configuration #}
    {# Options: ipv6_link_local_only: true, ipv6: <address>, ipv6: false. Otherwise it is inferred from IPv4#}
    {# ================== #}
    {# If link_local_only is enabled, it's link local only #}
    {% if interface.ipv6_link_local_only is defined and interface.ipv6_link_local_only %}
    ipv6 enable
    {% else %}
    {# If IPv6 is defined, use that #}
    {% if interface.ipv6 is defined and interface.ipv6 %}
    ipv6 address {{ interface.ipv6 }}
    {# If it's not, infer the IPv6 from IPv4, unless stated otherwise #}
    {% elif interface.ipv6 is not false %}
    ipv6 address {{ calculate_ipv6(ipv6_prefix, interface.ip) | trim }}/64
    {% endif %}
    {% endif %}
    {# ================== #}
    ipv6 eigrp {{ site_eigrp_address }}
    {# Nat inside and outside #}
    {% if interface.nat is defined %}
    ip nat {{ interface.nat }}
    {% else %}
    {% endif %}
    no shutdown
