{% from 'calculate_ipv6.j2' import calculate_ipv6 %}
{% for vlan in site_vlans %}

    {% set device_vlan = (vlan_interfaces | selectattr('id', 'equalto', vlan.id) | list | first) %}
    {% set vlan = vlan | combine(device_vlan, recursive=True) %}
    {# Calculate HSRP addresses #}
    {% set hsrp_ip = vlan.network | ipaddr('last_usable') %}
    {% set ipv4_octets = hsrp_ip.split('.') %}
    {% if vlan.id == 252 %}
        {% set ipv6_vlan_part = 'FE' %}
    {% else %}
        {% set ipv6_vlan_part = '%02X' % (vlan.id|int) %}
    {% endif %}
    {% set site_octet = '%02X' % (ipv4_octets[1]|int) %}
    {% set hsrp_ipv6 = ipv6_prefix ~ site_octet ~ ipv6_vlan_part ~ ':' ~ ipv4_octets[0] ~ ':' ~ ipv4_octets[1] ~ ':' ~ ipv4_octets[2] ~ ':' ~ ipv4_octets[3] %}
interface vlan {{ vlan.id }}
    ip address {{ vlan.ip.split('/')[0] }} {{ vlan.ip | ipaddr('netmask') }}
    ipv6 address {{ calculate_ipv6(ipv6_prefix, vlan.ip) | trim }}/64
    ipv6 eigrp {{ site_eigrp_address }}
    ip helper-address {{ ip_helper_address }}
    ipv6 dhcp relay destination {{ ipv6_relay_dest }}
    {% if hsrp_version == 2 %}
    standby version {{ hsrp_version }}
    {% endif %}
    standby {{ vlan.id }} ip {{ hsrp_ip }}
    standby {{ vlan.id }} priority {{ vlan.hsrp_priority }}
    standby {{ vlan.id }} preempt
    {% if hsrp_version == 2 %}
    standby {{ 2000 + vlan.id }} priority {{ vlan.hsrp_priority }}
    standby {{ 2000 + vlan.id }} ipv6 {{ hsrp_ipv6 }}
    standby {{ 2000 + vlan.id }} preempt
    {% endif %}
    no shutdown
    
{% endfor %}
