{% if ntp_role == 'server' %}
# Allow NTP requests from the Solar Dynamics network
allow {{ ntp_server_allow_network | default('10.0.0.0/16') }}
pool pool.ntp.org iburst
{% else %}
pool ntp.solardynamics.eu iburst
{% endif %}
# Optimized defaults (https://www.redhat.com/en/blog/chrony-time-services-linux)
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
keyfile /etc/chrony.keys
leapsectz right/UTC
logdir /var/log/chrony
