# Managed by Ansible:
# /Ansible/playbooks/roles/zabbix-agent/templates/zabbix_agentd.conf.j2

# Zabbix Agent configuration file

# Server connection
Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}
Hostname={{ zabbix_hostname }}

# Useful
LogFile=/var/log/zabbix-agent/zabbix_agentd.log