{% for route in static_routes.ipv4 %}
ip route {{ route.destination.split('/')[0] }} {{ route.destination | ipaddr('netmask') }} {{ route.via }}
{% endfor %}
{% for route in static_routes.ipv6 %}
ipv6 route {{ route.destination }} {{ route.via }}
{% endfor %}
