spanning-tree mode {{ spanning_tree_mode }}
{% if spanning_tree_primary is defined %}
spanning-tree vlan {{ spanning_tree_primary | join(',') }} root primary
{% endif %}
{% if spanning_tree_secondary is defined %}
spanning-tree vlan {{ spanning_tree_secondary | join(',') }} root secondary
{% endif %}
